*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

/.idea

/core/build
/core/libs

/data/build
/data/libs

/extras/build
/extras/libs

/logic/build
/logic/libs

/permissions/build
/permissions/libs

/prefs/build
/prefs/libs

/ui/build
/ui/libs